:root {
	--qb-blue: #3B82DB;
	--qb-blue-rgb: 59, 130, 219;
}

#outer_container {
	width: 900px;
	margin: 0 auto;
}

#title {
	padding-bottom: 0.5em;
	font-family: 'Linux Biolinum', sans-serif;
	font-size: 30px;
	font-style: normal;
  	font-weight: normal;
}

h1 {
	font-family: 'Linux Biolinum', sans-serif;
	font-weight: bold;
	font-size: 1.9em;
	padding-top: 1em;
}

h2 {
	font-family: 'Linux Biolinum', sans-serif;
	font-weight: normal;
	margin-bottom: 0.3em;
	margin-top: 1.5em;
}

p {
	font-family: 'Linux Libertine', serif;
	margin-top: 0em; 
}

#links {
	display: flex;
    align-items: center;     /* Center items vertically */
	gap: 10px;
	font-family: 'Linux Biolinum', sans-serif;
	font-size: 20px;
}

#links a {
	color: var(--accent_color);
	stroke: var(--accent_color);
	fill: var(--accent_color);
}

#links a:hover {
	color: #606060;
	stroke: #606060;
	fill: #606060;
}

#links-outer{
	display: flex;
	width: 100%;
	justify-content: left;
	padding-bottom: 2em;
}

#caption {
	font-family: 'Linux Biolinum', sans-serif;
	font-style: normal;
	font-size: 0.9em;
}

#authors > p {
	font-family: 'Linux Biolinum', sans-serif;
	font-size: 20px;
	font-style: normal;
  	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 1px;
}

#authors > p > a {
	color: black;
	/* text-decoration-color: black;
	text-decoration-style: dotted;
	text-decoration: underline; */
	border-bottom: 1px dotted black;
  	text-decoration: none; 
}

#authors > p > a > b {
	color: black;
	/* text-decoration-color: black;
	text-decoration-style: dotted;
	text-decoration: underline; */
	border-bottom: 1px dotted black;
  	text-decoration: none; 
}

#authors > p > a:hover {
	color: #606060;
	/* text-decoration-color:  #606060;; */
	border-bottom: 1px dotted #606060;
}

#authors > p > a > b:hover {
	color: #606060;
	/* text-decoration-color:  #606060; */
	border-bottom: 1px dotted #606060;
}

#authors > p > span {
	text-transform: none;
	font-size: 17px;
}

#authors {
	padding-bottom: 0.67em;
}

#home_link_box {
	text-align: center;
}

#git_message {
	font-size: 0.75em;
}

#teaser {
	width: 100%;
	padding-bottom: 0.3em;
}

#nav-bar > h2 {
	font-family: 'Linux Biolinum', sans-serif;
	font-weight: normal;
	margin-bottom: 0.3em;
	margin-top: 1.5em;
}

pre {
	margin-bottom: 0.5rem;
	padding: 0.5rem  0.5rem;
	border-radius: 5px;
	background-color: #eeeeee;
	display: grid;
	white-space: wrap;
}

pre code {
	padding: 0rem  1rem;
}

code {
	font-family: "Fira Code", Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 80%;
	max-width: 100%;
	overflow-x: auto;
	margin: 0 0.1rem 0  0.1rem;
	padding: 0.2rem 0.5rem 0.1rem  0.5rem;
	background-color: #eeeeee;
	border-radius: 3px;
	white-space: pre;
}
